<ion-modal-view ng-controller="AlarmCtrl">
  <ion-header-bar>
    <h1 class="title">{{busArrival.lineName}} Bus</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="hideAlarmModal()">Close</button>
    </div>
  </ion-header-bar>


  <ion-content>
    <div class="row row-center">
      <div class="col col-10">
        &nbsp;
      </div>
      <div class="col">
        <knob knob-data="busArrival.nextAlarm" knob-options="options"></knob>
      </div>
      <div class="col col-20">
        <img ng-if="busArrival.hasAlarm" ng-src="img/clock-animated.gif" class="alarmClock" ng-click="toggleAlarm()">
        <img ng-if="busArrival.hasAlarm==false" ng-src="img/clock-static.gif" class="alarmClock" ng-click="toggleAlarm()">
      </div>
    </div>

    <div class="row row-center">
      <div class="col col-25">
        &nbsp;
      </div>
      <div class="col">
        <p ng-if="busArrival.hasAlarm">Ring {{busArrival.nextAlarm}} m before Bus arrives</p>
      </div>
    </div>


    </div>

  </ion-content>

</ion-modal-view>

<!--
-->
